In [2]:
import pandas as pd
import numpy as np
import re
import json

In [3]:
dolphin = pd.read_json("final_dolphin_data_replicate_n.json")
dolphin = dolphin.T
dolphin = dolphin.drop(["index"],axis=1)
print(dolphin.shape)
dolphin.head()

(9403, 8)

,text,target_template,gen_template,num_list,ans,numtemp_order,num_position,post_template
0,sum temp_a temp_b temp_c is,"[x, =, temp_a, +, temp_b, +, temp_c]",[],"[0.1111111111111111, 0.6666666666666666, 0.277...",1.056,"[temp_a, temp_b, temp_c]","[1, 2, 3]","[temp_a, temp_b, +, temp_c, +]"
100,a particular map shows a scale temp_a cm : tem...,"[x, =, temp_e, /, temp_b, *, temp_a]",[],"[3, 7, 3, 7, 22]",1.0,"[temp_a, temp_b, temp_c, temp_d, temp_e]","[6, 9, 17, 20, 29]","[temp_e, temp_b, /, temp_a, *]"
101,temp_a percent temp_b temp_c % temp_d,"[x, =, temp_c, *, temp_b]",[],"[60, 2500, 0.6, 2500]",1500,"[temp_a, temp_b, temp_c, temp_d]","[0, 2, 3, 4]","[temp_c, temp_b, *]"
102,a coin tossed a die rolled probability coin sh...,"[x, =, 1, /, temp_a, *, temp_d]",[],"[2, 0.07142857142857142, 0.125, 0.166666666666...",1.0,"[temp_a, temp_b, temp_c, temp_d, temp_e]","[13, 14, 15, 16, 17]","[1, temp_a, /, temp_d, *]"
103,find whole using percent equation temp_a patie...,"[x, =, temp_a, /, temp_b]",[],"[10, 0.2, 10, 0.2]",50,"[temp_a, temp_b, temp_c, temp_d]","[5, 7, 15, 17]","[temp_a, temp_b, /]"

In [4]:
math23k = pd.read_json("math23k_0108.json")
math23k = math23k.T
print(math23k.shape)
math23k.head()

(23129, 8)

,text,target_template,gen_template,num_list,ans,numtemp_order,num_position,post_template
1,镇海 雅乐 学校 二年级 的 小朋友 到 一条 小路 的 一边 植树 ． 小朋友 们 每隔 ...,"[x, =, (, temp_b, -, 1, ), *, temp_a]",[],"[2, 11]",20,"[temp_a, temp_b]","[16, 34]","[temp_b, 1, -, temp_a, *]"
2,temp_a 个 工程队 挖土 ， 第一天 挖 了 temp_b 方 ， 从 第 temp_...,"[x, =, temp_b, +, temp_d, *, (, temp_e, -, tem...",[],"[1, 316, 2, 230, 6]",1466,"[temp_a, temp_b, temp_c, temp_d, temp_e]","[0, 8, 13, 19, 25]","[temp_b, temp_d, temp_e, temp_a, -, *, +]"
3,小 明 看 一本 故事书 ， 第一天 看 了 全书 的 temp_a ， 第 temp_b ...,"[x, =, (, temp_c, +, temp_c, *, temp_e, ), /, ...",[],"[0.16666666666666666, 2, 24, 3, 1.5, 0.25]",180,"[temp_a, temp_b, temp_c, temp_d, temp_e, temp_f]","[11, 14, 18, 22, 33, 39]","[temp_c, temp_c, temp_e, *, +, 1, temp_a, -, t..."
4,从 甲地 到 乙地 ， 如果 骑 自行车 每 小时 行驶 temp_a 千米 ， temp_...,"[x, =, temp_a, *, temp_b, /, temp_c]",[],"[16, 4, 2]",32,"[temp_a, temp_b, temp_c]","[11, 14, 24]","[temp_a, temp_b, *, temp_c, /]"
5,小 刚 的 体重 是 temp_a 千克 ， 小强 的 体重 是 小 刚 的 temp_b ...,"[x, =, temp_a, *, temp_b]",[],"[28.4, 1.4]",39.76,"[temp_a, temp_b]","[5, 16]","[temp_a, temp_b, *]"

In [6]:
temp = math23k
temp["test"] = temp["post_template"].apply(lambda x : ','.join(x))
len(temp["test"].unique())

4326

In [30]:
combined = math23k.append(dolphin)
combined.reset_index(inplace=True,drop=True)
print(combined.shape)
combined.tail()

(32532, 8)

,text,target_template,gen_template,num_list,ans,numtemp_order,num_position,post_template
32527,find sum geometric sequence temp_a temp_b temp...,"[x, =, temp_a, +, temp_b, +, temp_c, +, temp_d...",[],"[40, 0.7, 0.80, 0.445, 0.6057, 0.0710, 0.37970...",42.5507,"[temp_a, temp_b, temp_c, temp_d, temp_e, temp_...","[4, 5, 6, 7, 8, 9, 10, 11, 12]","[temp_a, temp_b, +, temp_c, +, temp_d, +, temp..."
32528,find sum geometric sequence temp_a temp_b temp...,"[x, =, temp_a, +, temp_b, +, temp_c, +, temp_d...",[],"[18, 0.0, 0.39, 0.880, 0.5859, 0.1019, 0.52036...",19.8559,"[temp_a, temp_b, temp_c, temp_d, temp_e, temp_...","[4, 5, 6, 7, 8, 9, 10, 11, 12]","[temp_a, temp_b, +, temp_c, +, temp_d, +, temp..."
32529,find sum geometric sequence temp_a temp_b temp...,"[x, =, temp_a, +, temp_b, +, temp_c, +, temp_d...",[],"[75, 0.9, 0.67, 0.918, 0.2361, 0.2297, 0.62037...",77.7241,"[temp_a, temp_b, temp_c, temp_d, temp_e, temp_...","[4, 5, 6, 7, 8, 9, 10, 11, 12]","[temp_a, temp_b, +, temp_c, +, temp_d, +, temp..."
32530,find sum geometric sequence temp_a temp_b temp...,"[x, =, temp_a, +, temp_b, +, temp_c, +, temp_d...",[],"[98, 0.7, 0.84, 0.532, 0.1908, 0.8615, 0.30758...",100.2628,"[temp_a, temp_b, temp_c, temp_d, temp_e, temp_...","[4, 5, 6, 7, 8, 9, 10, 11, 12]","[temp_a, temp_b, +, temp_c, +, temp_d, +, temp..."
32531,find sum geometric sequence temp_a temp_b temp...,"[x, =, temp_a, +, temp_b, +, temp_c, +, temp_d...",[],"[8, 0.2, 0.48, 0.308, 0.7075, 0.9363, 0.024653...",9.6955,"[temp_a, temp_b, temp_c, temp_d, temp_e, temp_...","[4, 5, 6, 7, 8, 9, 10, 11, 12]","[temp_a, temp_b, +, temp_c, +, temp_d, +, temp..."

In [31]:
combined.head()

,text,target_template,gen_template,num_list,ans,numtemp_order,num_position,post_template
0,镇海 雅乐 学校 二年级 的 小朋友 到 一条 小路 的 一边 植树 ． 小朋友 们 每隔 ...,"[x, =, (, temp_b, -, 1, ), *, temp_a]",[],"[2, 11]",20,"[temp_a, temp_b]","[16, 34]","[temp_b, 1, -, temp_a, *]"
1,temp_a 个 工程队 挖土 ， 第一天 挖 了 temp_b 方 ， 从 第 temp_...,"[x, =, temp_b, +, temp_d, *, (, temp_e, -, tem...",[],"[1, 316, 2, 230, 6]",1466,"[temp_a, temp_b, temp_c, temp_d, temp_e]","[0, 8, 13, 19, 25]","[temp_b, temp_d, temp_e, temp_a, -, *, +]"
2,小 明 看 一本 故事书 ， 第一天 看 了 全书 的 temp_a ， 第 temp_b ...,"[x, =, (, temp_c, +, temp_c, *, temp_e, ), /, ...",[],"[0.16666666666666666, 2, 24, 3, 1.5, 0.25]",180,"[temp_a, temp_b, temp_c, temp_d, temp_e, temp_f]","[11, 14, 18, 22, 33, 39]","[temp_c, temp_c, temp_e, *, +, 1, temp_a, -, t..."
3,从 甲地 到 乙地 ， 如果 骑 自行车 每 小时 行驶 temp_a 千米 ， temp_...,"[x, =, temp_a, *, temp_b, /, temp_c]",[],"[16, 4, 2]",32,"[temp_a, temp_b, temp_c]","[11, 14, 24]","[temp_a, temp_b, *, temp_c, /]"
4,小 刚 的 体重 是 temp_a 千克 ， 小强 的 体重 是 小 刚 的 temp_b ...,"[x, =, temp_a, *, temp_b]",[],"[28.4, 1.4]",39.76,"[temp_a, temp_b]","[5, 16]","[temp_a, temp_b, *]"

In [32]:
datajson = combined.to_json(orient='index')
with open("math23k_dolphin.json", 'w') as f:
    json.dump(datajson, f)